node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Android
android/.gradle/
android/.idea/
android/local.properties
android/build/
android/app/build/
android/captures/
android/.externalNativeBuild/
android/.cxx/
*.apk
*.aab
*.ap_
*.dex
*.class
*.log
.navigation/
*.iml
*.hprof