.DS_Store
*.tar.gz

# Android
android/.gradle/
android/.idea/
android/local.properties
android/build/
android/app/build/
android/captures/
android/.externalNativeBuild/
android/.cxx/
*.apk
*.aab
*.ap_
*.dex
*.class
*.log
.navigation/
*.iml
*.hprof

# Server / Node.js
server/node_modules/
server/.env
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/package-lock.json
server/.npm